/*#map{
   width:75%;
   height:100%;
   display:inline-block;
   float:right;
}
#mapControls {
   margin-top:5px;
   margin-right:2px;
   display:inline-block;
   width: calc(25% - 2px);
   height:100%;
}
.active{
   background-color:rgba(25,25,0,.5);
}
.popup{
   border: 1px solid black;
   border-radius: 5px;
   background-color:rgba(255,255,255.5);
   padding:10px;
}
.filterListItem {
   width:auto;
   display:inline-block;
}
.filterList {
   overflow-y:hidden;
   white-space:nowrap;
}
@media only screen and (max-width: 1000px) {
   #mapControls{
      display:block;
      width:100%;
      height:300px;
   }
   #map{
      float:none;
      display:block;
      width:100%;
      height: calc(100% - 300px);
   }
   #advList {
      overflow-y:hidden;
      white-space:nowrap;
   }
   .advListItem{
      display:inline-block;
   }
}
*/

#mapContainer {
   display:flex;
   height: calc(100% - 90px);
}
#map{
   width:100%;
}
.popup{
   padding:10px;
   background-color:var(--bg-color);
   border-radius:20px;
   border: 1px solid black;
}
.delete {
   background-color:rgba(255,0,0,.5);
}
.advListItem {
   box-shadow: 0 3px 10px 5px rgba(0,0,0,.2);
   border:solid 1px black;
   background-color:white;
   margin:3px;
}
.advListItem:hover {
   background-color:var(--accent-color-fade);
}
.filterListItem {
   margin:3px;
   width:auto;
   display:inline-block;
   padding:5px;
   border-radius: 8px;
   background-color:rgba(0,0,0,.2);
}
.filterList {
   overflow-y:hidden;
   overflow-x:auto;
   white-space:nowrap;
}
#mapControls {
   margin-top:5px;
   margin-right:2px;
   margin-left:10px;
   display:inline-block;
   min-width: calc(25% - 7px);
   max-width: calc(25% - 7px);
}
#textFilter{
   display:flex;
   flex-direction:column;
}
#textButtonDiv {
   display:flex;
   flex-direction:row;
   justify-content:space-between;
}
#textButtonDiv .button{
   margin-right:4px;
   margin-top:2px;
   margin-bottom:0px;
   width:90%;
   text-align:center;
}

