:root{
   --accent-color:#3a4dd5;
   --bg-color:white;
}
html, body{
   margin:0;
   padding:0;
}

::-webkit-scrollbar {
   width: 0px;  
   background: transparent;  
}
.activePage {
   border-bottom: 1px solid var(--accent-color);
}
#topbar{
   justify-content:space-between;
   flex-direction : row;
   align-items:center;
   padding-left:20px;
   padding-right:20px;
   display:flex;
   margin-bottom:10px;
   box-shadow: 0 3px rgba(0,0,0,.1);
}

#siteContainer {
   height:100%;
   position:relative;
   font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.subnav, #nav { 
   display : flex;
   flex-direction : row;
   justify-content : space-between;  
}
.mobileNavButton{
   width: 35px;
   height: 5px;
   background-color: black;
   margin: 6px 0;
}
#hamburger{
   display:none;
   padding:10px;
}
.navItem {
   display:flex;
   justify-content:center;
   flex-direction:column;
   width:100%;
   height:30px;
   text-align:center;
   cursor:pointer;
   font-size:25px;
   padding:10px;
}
.buttonStyles:hover {
   box-shadow: 0 1px rgba(0,0,0,0.2);
}
.buttonStyles:active{
   color:rgba(0,0,0,1);
}
.hide {
   display:none !important;
}
@media only screen and (max-width: 1000px) {
   #nav {
      z-index:1;
      padding:5px;
      position:absolute;
      top:80px;
      right:0px;
      width:35%;
      height:auto;
      flex-direction:column;
      justify-content: flex-start;
      background-color:white;
   }
   .navItem {
      border:1px solid rgba(0,0,0,.2);
      padding-top:25px;
      padding-bottom:25px;
   }
   .activePage {
      border-left: 2px solid var(--accent-color);
   }
   .mobileNavButton{
      display:block;
   }
   #hamburger{
      display:block;
   }
   .mediahide {
      display:none !important;
   }
   #titleRight{
      display:none;
   }
}
